@using System.Web.Optimization
@{
}

<!DOCTYPE html>

<html>
<head>
     @RenderSection("Head", required: false)
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPDia0nmIZzZftn0FTIABOKezW_3ssDs0&sensor=true"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts/")
    @Styles.Render("~/Content/css")
   
</head>
<body>
  @RenderBody()
</body>
</html>
